<style type=text/css>
#center{font-family:arial;font-size:8pt;color:#696969;}
#pergunta{background-color:#fefefe;font-family:arial;font-size:8pt;color:#696969;}
#resposta{background-color:#fefefe;font-family:arial;font-size:8pt;color:#696969;}
#input{border:1px solid #cccccc;background-color:#fefefe;font-family:arial;font-size:8pt;color:#696969;}
#normal{font-family:arial;font-size:8pt;color:#696969;text-decoration:none;}
input{font-family:arial;font-size:8pt;color:#1c1c1c;}
</style>
